.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  gap: 3%;
}
.guess-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

}

.guess-box {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red; 
}

.guess-box p {
  margin: 5px 0;
}
